$baseline: 16px;
$base-font-size: 16;

$color-map: (
	white: 			#fafafa,
	black: 			#231F20,
	blue: 			#28A8E0,
	green: 			#A8B07C
);

$headers: (h1: 52, h2: 40, h3: 32, h4: 28, h5: 22, h6: 16);

$collapse: 800px;
$collapse--grid: 700px;