{% extends "layouts/layout.html" %}

{% block title %}Batter — Index {% endblock %}
{% block content %}
  

<section class="o-hero">
  <div class="o-vertical-align__table">
    <div class="o-vertical-align__table-cell">
      <svg class="o-logo" viewBox="0 0 200 25.9" enable-background="new 0 0 200 25.9" xml:space="preserve" >
        <path d="M67.9,0c6,0,10.7,4,10.7,12.5c0,9.7-4.8,13.3-10.8,13.3c-5.9,0-10.8-3.8-10.8-13.3C57,4,61.8,0,67.9,0z M67.9,24.7c5.6,0,9.4-3.6,9.4-12.2c0-7.6-3.9-11.4-9.4-11.4c-5.7,0-9.7,3.9-9.7,11.4C58.2,21.1,62.3,24.7,67.9,24.7z"/>
        <path d="M85.3,0.4v23.9h12.2v1.1H84.1v-25H85.3z"/>
        <path d="M103.4,14.4l-7.8-14h1.4l7.1,12.8l7.1-12.8h1.3l-7.9,14v11h-1.2V14.4z"/>
        <path d="M138.9,25.4l-2.5-23.5L128,25.4h-1.1l-8.3-23.5l-2.4,23.5H115l2.6-25h1.7l8.2,23.4l8.2-23.4h1.7l2.6,25 H138.9z"/>
        <path d="M169.3,1.5h-8.2v-1h17.5v1h-8.1v24h-1.2V1.5z"/>
        <path d="M182.6,0.4h1.2v11.2h15V0.4h1.2v25h-1.2V12.6h-15v12.8h-1.2V0.4z"/>
        <polygon points="153.8,0.4 152.5,0.4 143.3,25.4 144.6,25.4 147.2,18.3 148.1,15.9 148.1,15.9 153.2,1.8 158.3,15.9 158.3,15.9 158.8,17.3 161.9,25.4 163.1,25.4    "/>
        <path d="M44.9,0.4h-7v1.1h1.2h0.3h5.6c4.8,0,6.9,1.9,6.9,5.9c0,4-2.4,6.2-7.3,6.2h-5.2v0h-1.5v11.9h1.2V14.6h5.4 c5.8,0,8.5-2.8,8.5-7.2C53,3.1,50.6,0.4,44.9,0.4z"/>
        <path d="M4.6,25C2.1,25,0,22.9,0,20.4s2.1-4.6,4.6-4.6s4.6,2.1,4.6,4.6S7.2,25,4.6,25z M4.6,16.1 c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2S7,16.1,4.6,16.1z"/>
        <path d="M22.4,25c-2.5,0-4.6-2.1-4.6-4.6s2.1-4.6,4.6-4.6c2.5,0,4.6,2.1,4.6,4.6S25,25,22.4,25z M22.4,16.1 c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2c2.3,0,4.2-1.9,4.2-4.2S24.8,16.1,22.4,16.1z"/>
        <path d="M13.5,10.1C11,10.1,8.9,8,8.9,5.5s2.1-4.6,4.6-4.6c2.5,0,4.6,2.1,4.6,4.6S16.1,10.1,13.5,10.1z M13.5,1.3 c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2c2.3,0,4.2-1.9,4.2-4.2S15.9,1.3,13.5,1.3z"/>
      </svg>
    </div>
  </div>
</section>
  
<section class="o-category">
  <div class="o-container">
    <div class="grid">
      <div class="col-100">
        <h5 class="o-category__title"><span>Live-Action</span></h5>
      </div>

      <div class="col-25">
        <a href="" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/thumbnail-aei.jpg"/>
          <h2 class="o-project__title">AEI</h2>
          <h6 class="o-project__sub-title">The Answer to Poverty Is Different Than You Think</h6>
        </a>
      </div>
      <div class="col-25">
        <a href="" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/thumbnail-biologos-equipping.jpg"/>
          <h2 class="o-project__title">BioLogos</h2>
          <h6 class="o-project__sub-title">Equipping the Next Generation</h6>
        </a>
      </div>
      <div class="col-25">
        <a href="" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/thumbnail-biologos-adam.jpg"/>
          <h2 class="o-project__title">BioLogos</h2>
          <h6 class="o-project__sub-title">Adam and Eve, Engaging the Tough Questions</h6>
        </a>
      </div>
      <div class="col-25">
        <a href="" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/thumbnail-biologos-equipping-church.jpg"/>
          <h2 class="o-project__title">BioLogos</h2>
          <h6 class="o-project__sub-title">Equipping the Church to Engage Science</h6>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="o-category">
  <div class="o-container">
    <div class="grid">
      <div class="col-100">
        <h5 class="o-category__title"><span>Mixed Media</span></h5>
      </div>
      <div class="col-40">
        <a href="" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/thumbnail-biologos-equipping.jpg"/>
          <h2 class="o-project__title">AEI</h2>
          <h6 class="o-project__sub-title">Education for opportunity: 3 Ideas for American Education Reform</h6>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="o-category">
  <div class="o-container">
    <div class="grid">
      <div class="col-100">
        <h5 class="o-category__title"><span>Animation</span></h5>
      </div>
      <div class="col-25">
        <a href="" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/thumbnail-biologos-equipping.jpg"/>
          <h3 class="o-project__title">Prager University</h3>
          <h6 class="o-project__sub-title">The Progressive Income Tax: A Tale of Three Brothers</h6>
        </a>
      </div>
      <div class="col-25">
        <a href="" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/thumbnail-biologos-equipping.jpg"/>
          <h2 class="o-project__title">ERLC</h2>
          <h6 class="o-project__sub-title">Sex is Better</h6>
        </a>
      </div>
      <div class="col-25">
        <a href="" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/thumbnail-biologos-equipping.jpg"/>
          <h2 class="o-project__title">ERLC</h2>
          <h6 class="o-project__sub-title">Psalm139 Life of Juliette</h6>
        </a>
      </div>
      <div class="col-25">
        <a href="" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/thumbnail-biologos-equipping.jpg"/>
          <h2 class="o-project__title">AEI</h2>
          <h6 class="o-project__sub-title">Economic Growth, Unleashing the Potential of Human Flourishing</h6>
        </a>
      </div>
      <div class="col-25">
        <a href="" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/thumbnail-biologos-equipping.jpg"/>
          <h2 class="o-project__title">AEI</h2>
          <h6 class="o-project__sub-title">Home Economics, The Consequences of Changing Family Structure</h6>
        </a>
      </div>
      <div class="col-25">
        <a href="" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/thumbnail-biologos-equipping.jpg"/>
          <h5 class="o-project__title">International Justice Mission</h5>
          <h6 class="o-project__sub-title">Poverty and Hope</h6>
        </a>
      </div>
      <div class="col-25">
        <a href="" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/thumbnail-biologos-equipping.jpg"/>
          <h3 class="o-project__title">Live the Promise</h3>
          <h6 class="o-project__sub-title">Can You Live the Promise</h6>
        </a>
      </div>
      <div class="col-25">
        <a href="" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/thumbnail-biologos-equipping.jpg"/>
          <h2 class="o-project__title">ERLC</h2>
          <h6 class="o-project__sub-title">Imago Dei: The Image of God</h6>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="o-category">
  <div class="o-container">
    <div class="grid">
      <div class="col-100">
        <h5 class="o-category__title"><span>Websites</span></h5>
      </div>
      <div class="col-33">
        <a href="" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/thumbnail-biologos-equipping.jpg"/>
          <h2 class="o-project__title">AEI</h2>
          <h6 class="o-project__sub-title">valuesandcapitalism.com</h6>
        </a>
      </div>
      <div class="col-33">
        <a href="" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/thumbnail-biologos-equipping.jpg"/>
          <h2 class="o-project__title">Skye Jethani</h2>
          <h6 class="o-project__sub-title">skyejethani.com</h6>
        </a>
      </div>
      <div class="col-33">
        <a href="" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/thumbnail-biologos-equipping.jpg"/>
          <h3 class="o-project__title">HarvestUSA</h3>
          <h6 class="o-project__sub-title">harvestusa.org</h6>
        </a>
      </div>
      <div class="col-33">
        <a href="" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/thumbnail-biologos-equipping.jpg"/>
          <h2 class="o-project__title">Self Govern</h2>
          <h6 class="o-project__sub-title">selfgovern.com</h6>
        </a>
      </div>
      <div class="col-33">
        <a href="" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/thumbnail-biologos-equipping.jpg"/>
          <h3 class="o-project__title">Live the Promise</h3>
          <h6 class="o-project__sub-title">livethepromise.org </h6>
        </a>
      </div>
      <div class="col-33">
        <a href="" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/thumbnail-biologos-equipping.jpg"/>
          <h2 class="o-project__title">CHARIS</h2>
          <h6 class="o-project__sub-title">char.is</h6>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="o-category">
  <div class="o-container">
    <div class="grid">
      <div class="col-100">
        <h5 class="o-category__title"><span>Content Examples</span></h5>
      </div>
    </div>
  </div>
</section>
  
{% endblock %}