{% extends "layouts/layout.html" %}

{% block title %}Polymath Marketing Archive{% endblock %}
{% block content %}
  

<section class="o-hero">
  <div class="o-vertical-align__table">
    <div class="o-vertical-align__table-cell">
      <svg class="o-logo" viewBox="0 0 200 25.9" enable-background="new 0 0 200 25.9" xml:space="preserve" >
        <path d="M67.9,0c6,0,10.7,4,10.7,12.5c0,9.7-4.8,13.3-10.8,13.3c-5.9,0-10.8-3.8-10.8-13.3C57,4,61.8,0,67.9,0z M67.9,24.7c5.6,0,9.4-3.6,9.4-12.2c0-7.6-3.9-11.4-9.4-11.4c-5.7,0-9.7,3.9-9.7,11.4C58.2,21.1,62.3,24.7,67.9,24.7z"/>
        <path d="M85.3,0.4v23.9h12.2v1.1H84.1v-25H85.3z"/>
        <path d="M103.4,14.4l-7.8-14h1.4l7.1,12.8l7.1-12.8h1.3l-7.9,14v11h-1.2V14.4z"/>
        <path d="M138.9,25.4l-2.5-23.5L128,25.4h-1.1l-8.3-23.5l-2.4,23.5H115l2.6-25h1.7l8.2,23.4l8.2-23.4h1.7l2.6,25 H138.9z"/>
        <path d="M169.3,1.5h-8.2v-1h17.5v1h-8.1v24h-1.2V1.5z"/>
        <path d="M182.6,0.4h1.2v11.2h15V0.4h1.2v25h-1.2V12.6h-15v12.8h-1.2V0.4z"/>
        <polygon points="153.8,0.4 152.5,0.4 143.3,25.4 144.6,25.4 147.2,18.3 148.1,15.9 148.1,15.9 153.2,1.8 158.3,15.9 158.3,15.9 158.8,17.3 161.9,25.4 163.1,25.4    "/>
        <path d="M44.9,0.4h-7v1.1h1.2h0.3h5.6c4.8,0,6.9,1.9,6.9,5.9c0,4-2.4,6.2-7.3,6.2h-5.2v0h-1.5v11.9h1.2V14.6h5.4 c5.8,0,8.5-2.8,8.5-7.2C53,3.1,50.6,0.4,44.9,0.4z"/>
        <path d="M4.6,25C2.1,25,0,22.9,0,20.4s2.1-4.6,4.6-4.6s4.6,2.1,4.6,4.6S7.2,25,4.6,25z M4.6,16.1 c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2S7,16.1,4.6,16.1z"/>
        <path d="M22.4,25c-2.5,0-4.6-2.1-4.6-4.6s2.1-4.6,4.6-4.6c2.5,0,4.6,2.1,4.6,4.6S25,25,22.4,25z M22.4,16.1 c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2c2.3,0,4.2-1.9,4.2-4.2S24.8,16.1,22.4,16.1z"/>
        <path d="M13.5,10.1C11,10.1,8.9,8,8.9,5.5s2.1-4.6,4.6-4.6c2.5,0,4.6,2.1,4.6,4.6S16.1,10.1,13.5,10.1z M13.5,1.3 c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2c2.3,0,4.2-1.9,4.2-4.2S15.9,1.3,13.5,1.3z"/>
      </svg>
    </div>
  </div>
</section>
  
<section class="o-category">
  <div class="o-container">
    <div class="grid">
      <div class="col-100">
        <h5 class="o-category__title"><span>Live-Action</span></h5>
      </div>

      <div class="col-25">
        <a href="https://www.youtube.com/watch?v=drxXabK5qWM" target="_blank" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/blank.gif" data-src="public/images/thumbnail-aei.jpg"/>
          <h2 class="o-project__title">AEI</h2>
          <h6 class="o-project__sub-title">The Answer to Poverty Is Different Than You Think</h6>
        </a>
      </div>
      <div class="col-25">
        <a href="https://www.youtube.com/watch?v=EH7Wm2Pl9uA" target="_blank" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/blank.gif" data-src="public/images/thumbnail-biologos-equipping.jpg"/>
          <h2 class="o-project__title">BioLogos</h2>
          <h6 class="o-project__sub-title">Equipping the Next Generation</h6>
        </a>
      </div>
      <div class="col-25">
        <a href="https://www.youtube.com/watch?v=WbCd11BZWjg" target="_blank" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/blank.gif" data-src="public/images/thumbnail-biologos-adam.jpg"/>
          <h2 class="o-project__title">BioLogos</h2>
          <h6 class="o-project__sub-title">Adam and Eve, Engaging the Tough Questions</h6>
        </a>
      </div>
      <div class="col-25">
        <a href="https://www.youtube.com/watch?v=8hEyJtMGScE" target="_blank" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/blank.gif" data-src="public/images/thumbnail-biologos-equipping-church.jpg"/>
          <h2 class="o-project__title">BioLogos</h2>
          <h6 class="o-project__sub-title">Equipping the Church to Engage Science</h6>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="o-category">
  <div class="o-container">
    <div class="grid">
      <div class="col-100">
        <h5 class="o-category__title"><span>Mixed Media</span></h5>
      </div>
      <div class="col-40">
        <a href="https://www.youtube.com/watch?v=YFRTzZpp0ag" target="_blank" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/blank.gif" data-src="public/images/thumbnail-aei-education.jpg"/>
          <h2 class="o-project__title">AEI</h2>
          <h6 class="o-project__sub-title">Education for opportunity: 3 Ideas for American Education Reform</h6>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="o-category">
  <div class="o-container">
    <div class="grid">
      <div class="col-100">
        <h5 class="o-category__title"><span>Animation</span></h5>
      </div>
      <div class="col-25">
        <a href="https://www.youtube.com/watch?v=iiJ2jDPMKhg" target="_blank" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/blank.gif" data-src="public/images/thumbnail-prager-brothers.jpg"/>
          <h3 class="o-project__title">Prager University</h3>
          <h6 class="o-project__sub-title">The Progressive Income Tax: A Tale of Three Brothers</h6>
        </a>
      </div>
      <div class="col-25">
        <a href="https://www.youtube.com/watch?v=9HM4dqUJu_4 " target="_blank" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/blank.gif" data-src="public/images/thumbnail-erlc-sex.jpg"/>
          <h2 class="o-project__title">ERLC</h2>
          <h6 class="o-project__sub-title">Sex is Better</h6>
        </a>
      </div>
      <div class="col-25">
        <a href="https://www.youtube.com/watch?v=PwWi1fS0ykE" target="_blank" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/blank.gif" data-src="public/images/thumbnail-erlc-julliette.jpg"/>
          <h2 class="o-project__title">ERLC</h2>
          <h6 class="o-project__sub-title">Psalm139 Life of Juliette</h6>
        </a>
      </div>
      <div class="col-25">
        <a href="https://www.youtube.com/watch?v=opzDbWqnNXA" target="_blank" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/blank.gif" data-src="public/images/thumbnail-aei-growth.jpg"/>
          <h2 class="o-project__title">AEI</h2>
          <h6 class="o-project__sub-title">Economic Growth, Unleashing the Potential of Human Flourishing</h6>
        </a>
      </div>
      <div class="col-25">
        <a href="https://www.youtube.com/watch?v=hlE-yjct4zg" target="_blank" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/blank.gif" data-src="public/images/thumbnail-aei-economics.jpg"/>
          <h2 class="o-project__title">AEI</h2>
          <h6 class="o-project__sub-title">Home Economics, The Consequences of Changing Family Structure</h6>
        </a>
      </div>
      <div class="col-25">
        <a href="https://www.youtube.com/watch?v=UFjaoljKAss" target="_blank" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/blank.gif" data-src="public/images/thumbnail-ijm-poverty.jpg"/>
          <h5 class="o-project__title">International Justice Mission</h5>
          <h6 class="o-project__sub-title">Poverty and Hope</h6>
        </a>
      </div>
      <div class="col-25">
        <a href="https://www.youtube.com/watch?v=jVSQnHNv_kU " target="_blank" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/blank.gif" data-src="public/images/thumbnail-promise.jpg"/>
          <h3 class="o-project__title">Live the Promise</h3>
          <h6 class="o-project__sub-title">Can You Live the Promise</h6>
        </a>
      </div>
      <div class="col-25">
        <a href="https://www.youtube.com/watch?v=ghHKU-7KPy0" target="_blank" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/blank.gif" data-src="public/images/thumbnail-erlc-image.jpg"/>
          <h2 class="o-project__title">ERLC</h2>
          <h6 class="o-project__sub-title">Imago Dei: The Image of God</h6>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="o-category">
  <div class="o-container">
    <div class="grid">
      <div class="col-100">
        <h5 class="o-category__title"><span>Websites</span></h5>
      </div>
      <div class="col-33">
        <a href="http://valuesandcapitalism.com" target="_blank" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/blank.gif" data-src="public/images/thumbnail-aei-values.jpg"/>
          <h2 class="o-project__title">AEI</h2>
          <h6 class="o-project__sub-title">valuesandcapitalism.com</h6>
        </a>
      </div>
      <div class="col-33">
        <a href="http://skyejethani.com" target="_blank" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/blank.gif" data-src="public/images/thumbnail-skyejethani.jpg"/>
          <h2 class="o-project__title">Skye Jethani</h2>
          <h6 class="o-project__sub-title">skyejethani.com</h6>
        </a>
      </div>
      <div class="col-33">
        <a href="http://harvestusa.org" target="_blank" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/blank.gif" data-src="public/images/thumbnail-harvestusa.jpg"/>
          <h3 class="o-project__title">HarvestUSA</h3>
          <h6 class="o-project__sub-title">harvestusa.org</h6>
        </a>
      </div>
      <div class="col-33">
        <a href="https://selfgovern.com" target="_blank" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/blank.gif" data-src="public/images/thumbnail-selfgovern.jpg"/>
          <h2 class="o-project__title">Self Govern</h2>
          <h6 class="o-project__sub-title">selfgovern.com</h6>
        </a>
      </div>
      <div class="col-33">
        <a href="http://livethepromise.org " target="_blank" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/blank.gif" data-src="public/images/thumbnail-promise-website.jpg"/>
          <h3 class="o-project__title">Live the Promise</h3>
          <h6 class="o-project__sub-title">livethepromise.org </h6>
        </a>
      </div>
      <div class="col-33">
        <a href="http://char.is" target="_blank" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/blank.gif" data-src="public/images/thumbnail-charis.jpg"/>
          <h2 class="o-project__title">CHARIS</h2>
          <h6 class="o-project__sub-title">char.is</h6>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="o-category">
  <div class="o-container">
    <div class="grid">
      <div class="col-100">
        <h5 class="o-category__title"><span>Content Examples</span></h5>
      </div>
      <div class="col-33">
        <a href="public/documents/Perimeter-Guidebook.pdf" target="_blank" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/blank.gif" data-src="public/images/thumbnail-perimeter-guidebook.jpg"/>
          <h3 class="o-project__title">Perimeter Church</h3>
          <h6 class="o-project__sub-title">Guidebook</h6>
        </a>
      </div>
      <div class="col-33">
        <a href="public/documents/Perimeter-Slides.pdf" target="_blank" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/blank.gif" data-src="public/images/thumbnail-perimeter-slides.jpg"/>
          <h3 class="o-project__title">Perimeter Church</h3>
          <h6 class="o-project__sub-title">Slides</h6>
        </a>
      </div>
      <div class="col-33">
        <a href="public/documents/Patheos-Media-Kit-Full.pdf" target="_blank" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/blank.gif" data-src="public/images/thumbnail-patheos-full.jpg"/>
          <h2 class="o-project__title">Patheos</h2>
          <h6 class="o-project__sub-title">Media Kit - Full</h6>
        </a>
      </div>
      <div class="col-33">
        <a href="public/documents/Patheos-Media-Kit-Mini.pdf" target="_blank" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/blank.gif" data-src="public/images/thumbnail-patheos-mini.jpg"/>
          <h2 class="o-project__title">Patheos</h2>
          <h6 class="o-project__sub-title">Media Kit - Mini</h6>
        </a>
      </div>
      <div class="col-33">
        <a href="public/documents/TJMC-Facilitator.pdf" target="_blank" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/blank.gif" data-src="public/images/thumbnail-tjmc.jpg"/>
          <h2 class="o-project__title">TJMC</h2>
          <h6 class="o-project__sub-title">Facilitator Guide</h6>
        </a>
      </div>
      <div class="col-33">
        <a href="public/documents/TJMC-Participant.pdf" target="_blank" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/blank.gif" data-src="public/images/thumbnail-tjmc.jpg"/>
          <h2 class="o-project__title">TJMC</h2>
          <h6 class="o-project__sub-title">Participant Guide</h6>
        </a>
      </div>
      <div class="col-33">
        <a href="public/documents/Winning-With-People-PPT.pdf" target="_blank" class="o-project js-slide-in">
          <img class="o-project__thumbnail" src="public/images/blank.gif" data-src="public/images/thumbnail-tjmc.jpg"/>
          <h2 class="o-project__title">TJMC</h2>
          <h6 class="o-project__sub-title">Win With People - Powerpoint</h6>
        </a>
      </div>
    </div>
  </div>
</section>

<footer class="c-footer">
  <div class="o-container">
    <ul class="c-footer__list">
      <li class="c-footer__item"><a href="https://www.facebook.com/PolymathInnovations" class="c-footer__link" target="_blank">
        <svg class="c-footer__svg" viewBox="0 0 128 128" xml:space="preserve" ><path d="M77.349,28.008c2.471,0,7.685,0,12.513,0c0-2.542,0-11.32,0-19.428c-6.445,0-13.778,0-17.013,0  c-24.101,0-23.531,18.678-23.531,21.468c0,2.792,0,15.261,0,15.261H38.137V63.97h11.181v55.449h22.966V63.97h15.411  c0,0,1.443-8.949,2.143-18.731c-2.007,0-17.467,0-17.467,0s0-10.857,0-12.76C72.37,30.573,74.873,28.008,77.349,28.008z"/></svg>
      </a></li>

      <li class="c-footer__item"><a href="http://twitter.com/Polymathio" class="c-footer__link" target="_blank">
        <svg class="c-footer__svg" viewBox="0 0 128 128" xml:space="preserve" ><path d="M108.131,59.644c6.408-0.529,10.755-3.443,12.43-7.396c-2.314,1.421-9.491,2.969-13.454,1.492  c-0.194-0.93-0.41-1.815-0.623-2.613c-3.02-11.091-13.36-20.023-24.195-18.945c0.878-0.354,1.768-0.684,2.653-0.979  c1.191-0.428,8.188-1.568,7.088-4.036c-0.931-2.171-9.479,1.642-11.087,2.142c2.124-0.798,5.639-2.173,6.014-4.615  c-3.257,0.445-6.451,1.986-8.919,4.225c0.891-0.961,1.567-2.13,1.71-3.389c-8.686,5.546-13.757,16.729-17.86,27.577  c-3.222-3.122-6.079-5.583-8.644-6.948c-7.188-3.857-15.783-7.879-29.276-12.888c-0.414,4.464,2.207,10.401,9.761,14.348  c-1.637-0.219-4.627,0.271-7.023,0.843c0.977,5.115,4.159,9.328,12.782,11.365c-3.94,0.26-5.977,1.156-7.82,3.089  c1.791,3.557,6.171,7.743,14.045,6.883c-8.755,3.774-3.568,10.766,3.557,9.722C37.112,92.076,17.945,91.154,6.941,80.653  c28.734,39.153,91.195,23.154,100.501-14.558c6.974,0.058,11.074-2.416,13.615-5.143C117.041,61.633,111.218,60.93,108.131,59.644z"/></svg>
      </a></li>

      <li class="c-footer__item"><a href="http://www.linkedin.com/company/polymath-innovations" class="c-footer__link" target="_blank">
        <svg class="c-footer__svg" viewBox="0 0 128 128" xml:space="preserve"><g><rect height="62.915" width="20.914" x="16.452" y="47.708"/><path d="M27.048,17.377c-7.155,0-11.838,4.695-11.838,10.868c0,6.041,4.545,10.877,11.562,10.877h0.141   c7.293,0,11.832-4.836,11.832-10.877C38.607,22.072,34.206,17.377,27.048,17.377z"/><path d="M88.706,46.229c-11.11,0-16.075,6.116-18.853,10.396v0.204h-0.135c0.039-0.064,0.096-0.138,0.135-0.204v-8.917H48.937   c0.279,5.904,0,62.915,0,62.915h20.917V75.486c0-1.884,0.141-3.754,0.693-5.1c1.515-3.761,4.954-7.65,10.734-7.65   c7.569,0,10.597,5.772,10.597,14.227v33.661h20.914V74.545C112.791,55.22,102.473,46.229,88.706,46.229z"/></g></svg>
      </a></li>

      <li class="c-footer__item"><a href="http://vimeo.com/polymathinnovations" class="c-footer__link" target="_blank">
        <svg class="c-footer__svg" viewBox="0 0 128 128" xml:space="preserve"><path d="M105.261,13.488C89.05,12.96,78.079,22.055,72.334,40.78c2.958-1.219,5.833-1.833,8.638-1.833  c5.911,0,8.527,3.316,7.83,9.972c-0.348,4.03-2.959,9.891-7.83,17.585C76.079,74.21,72.427,78.057,70,78.057  c-3.15,0-6.018-5.954-8.637-17.848c-0.879-3.501-2.447-12.42-4.697-26.776c-2.108-13.297-7.678-19.509-16.736-18.636  c-3.831,0.352-9.57,3.859-17.231,10.501c-5.587,5.075-11.25,10.154-17.006,15.228l5.484,7.08c5.234-3.678,8.296-5.508,9.146-5.508  c4.012,0,7.763,6.296,11.247,18.885c3.129,11.562,6.28,23.106,9.42,34.653c4.68,12.597,10.447,18.897,17.231,18.897  c10.974,0,24.409-10.318,40.253-30.967c15.329-19.769,23.242-35.344,23.776-46.726C122.953,21.626,117.292,13.835,105.261,13.488z"/></svg>
      </a></li>

      <li class="c-footer__item"><a href="http://www.youtube.com/channel/UCWVaAU5NqlzpyDZeVrYfGfw " class="c-footer__link" target="_blank">
        <svg class="c-footer__svg" viewBox="0 0 128 128" xml:space="preserve" ><path class="st0" d="M103.441,24.62H24.556c-9.285,0-16.812,7.532-16.812,16.824v45.111c0,9.292,7.527,16.824,16.812,16.824h78.885  c9.288,0,16.814-7.532,16.814-16.824V41.444C120.255,32.152,112.729,24.62,103.441,24.62z M52.747,83.029V40.66l32.132,21.187  L52.747,83.029z"/></svg>
      </a></li>
    </ul>
  </div>
</footer>
  
{% endblock %}